<div class="wrapper-content container-fluid">

  <div class="row">

    <div class="col-md-6">
      <ux-media-player #player type="video" [src]="videoSource" [quietMode]="quietMode">
        <ux-media-player-timeline></ux-media-player-timeline>
        <ux-media-player-controls></ux-media-player-controls>
      </ux-media-player>

      <button class="btn button-primary m-t-lg" (click)="quietMode = !quietMode">Toggle Quiet Mode</button>
    </div>

    <div class="col-md-6">
      <ux-media-player type="audio" [src]="audioSource" style="width: 400px">
        <ux-media-player-timeline></ux-media-player-timeline>
        <ux-media-player-controls></ux-media-player-controls>
      </ux-media-player>
    </div>

  </div>

  <div class="row">
    <ux-waveform [src]="videoSource"></ux-waveform>
  </div>

  <div class="row">
    <ux-video-timeline [player]="player" class="m-t"></ux-video-timeline>

  </div>



</div>